random2==1.0.1
numpy
json
Flask
requests
time
tensorflow
gunicorn==20.1.0
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl

